/*
Author: Simon Søborg
Github: simonsoeborg
*/
.row{
  width: 100%;
  padding: 16px;
  height: auto;
}

.afvejningsContent {
  margin-left: 25%;
  margin-right: 25%;
}

[class*="afvejningStep"] {
  width: 100%;
}

#produktionStatus {
  color: #E44E4E;
  display: inline-block;
  float: right;
  visibility: hidden;
}

#afvejningStep1 {
    display: block;

}

label {
  width: 25%;
  font-size: 22px;
}

#repeatButton {
  margin: 10px;
  background-color: transparent;
}

#repeatableObjectZero {
  display: block;
}

#repeatableObjectOne {
  display: none;
}

#repeatableObjectTwo {
  display: none;
}

#runAllBatchesButton {
  margin-right: 25%;
}

#wrapper {
  display: none;
}

#checkToleranceZero i {
  width: auto;
  font-size: 16px;
}

#checkToleranceOne i {
  width: auto;
  font-size: 16px;
}

#checkToleranceTwo i {
  width: auto;
  font-size: 16px;
}

#ReceptList {
  display: none;
}