/*
Author: Simon Søborg
Github: simonsoeborg
*/
.row{
  width: 100%;
  padding: 16px;
  height: auto;
}

.afvejningsContent {
  margin-left: 25%;
  margin-right: 25%;
}

[class*="afvejningStep"] {
  width: 100%;
}

#produktionStatus {
  color: #E44E4E;
  display: inline-block;
  float: right;
  visibility: hidden;
}

#afvejningStep1 {
    display: block;

}

label {
  width: 25%;
  font-size: 22px;
}

input {
  border-radius: 5px;
  width: auto;
  padding: 10px;
  outline: none;
  font-size: 22px;
}

input:hover {
  border: 1px solid #E44E4E;
  border-radius: 5px;
}

input:active {
  border: 1px solid #E44E4E;
  border-radius: 5px;
}

button {
  padding: 10px;

  border: 0px;
  font-size: 22px;
}

button:hover {
  border: 1px solid rgba(114, 85, 85, 0.29);
  border-radius: 5px;
}

.repeatButton {
  margin: 10px;
}

#repeatableObjectZero {
  display: block;
}

#repeatableObjectOne {
  display: none;
}

#repeatableObjectTwo {
  display: none;
}

#runAllBatchesButton {
  margin-right: 25%;
}

#wrapper {
  display: none;
}
#checkToleranceZero {
  width: auto;
  font-size: 16px;
}

#checkToleranceOne {
  width: auto;
  font-size: 16px;
}

#checkToleranceTwo {
  width: auto;
  font-size: 16px;
}

#ReceptList {
  display: none;
}