.grid-wrapper {
  margin: 0 auto;
  padding: 20px;
}

#logoImg {
  height: auto;
  width: 50px;
  float: left;
}

.mainMenuUL {
  text-align: right;
  padding-right: 10%;
}

.mainMenuUL li {
  padding: 16px;
  display: inline-block;
  color: white;
  font-size: 34px;
}

.mainMenuUL li a {
  color: white;
  text-decoration: none;
  font-size: 34px;
}

.mainMenuUL li:hover {
  text-decoration: underline;
  color: white;
}

.mainMenuUL li a:hover {
  text-decoration: underline;
  color: white;
}
