.vertMenu {
  width: 15%;
  height: 100%;
  bottom: 0;
  left: 0;
  top: 10%;
  padding: 16px;
  background-color: #E44E4E;
  text-align: center;
  padding-bottom: 2%;
  padding-top: 10%;
  position: fixed;
}

.VertMenu_container {
  width: 100%;
  height: 100%;
}

.VertMenu_container ul {
  list-style-type: none;
  margin: 0;
  padding: 16px;
}

.VertMenu_container li {
  display: block;
  padding: 16px;
}

.VertMenu_container a {
  text-decoration: none;
  font-size: 22px;
  font-weight: 400;
  color: white;
}

.VertMenu_container a:hover {
  color: #e3b0b0;
}
