/*
Author: Simon Søborg
Date: 31/3-2020
Github: simonsoeborg
*/
.grid-container {
  display: grid;
  width: 100%;
  align-content: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  background-color: transparent;
  padding: 10px;
}

.row {
  align-content: center;
}

[class*="grid-item-"] {
  float: left;
  padding: 15px;
  margin: auto;
}
.grid-item-1 {width: 8.33%;}
.grid-item-2 {width: 16.66%;}
.grid-item-3 {width: 25%;}
.grid-item-4 {width: 33.33%;}
.grid-item-5 {width: 41.66%;}
.grid-item-6 {width: 50%;}
.grid-item-7 {width: 58.33%;}
.grid-item-8 {width: 66.66%;}
.grid-item-9 {width: 75%;}
.grid-item-10 {width: 83.33%;}
.grid-item-11 {width: 91.66%;}
.grid-item-12 {width: 100%;}

.row::after {
  content: "";
  clear: both;
  display: table;
}