/*
Author: Simon Søborg
Date: 5/6-2020
Github: simonsoeborg

Reference: https://www.youtube.com/watch?v=68O6eOGAGqA
*/

:root {
  --grid-main-radius: 5px;
  --grid-main-padding: 5px;
}

.grid-wrapper {
  margin: 0 auto;
  padding: 20px;
}

.grid-container {
  display: grid;
  height: 100vh;
  grid-template-columns: 0.5fr 1fr 1fr 1fr;
  grid-template-rows: 0.25fr 0.25fr 2fr 0.25fr;
  grid-template-areas:
    "grid-menu grid-menu grid-menu grid-menu"
    "sideMenu contentHeader contentHeader contentHeader"
    "sideMenu contentBody contentBody contentBody"
    "sideMenu contentFooter contentFooter contentFooter";
  grid-gap: 0.2rem;
}

.grid-menu {
  grid-area: grid-menu;
  border-radius: var(--grid-main-radius);
  padding-top: var(--grid-main-padding);
  background: #E44E4E;
}

.grid-sideMenu {
  grid-area: sideMenu;
  border-radius: var(--grid-main-radius);
  padding-top: var(--grid-main-padding);
  background: #E44E4E;
}

.grid-contentHeader {
  grid-area: contentHeader;
  border-radius: var(--grid-main-radius);
  padding: 16px;
}

.grid-contentBody {
  grid-area: contentBody;
  border-radius: var(--grid-main-radius);
  padding: 16px;
}

.grid-contentFooter {
  grid-area: contentFooter;
  border-radius: var(--grid-main-radius);
  padding-top: var(--grid-main-padding);
}

/* Responsive hvis skærmen er mindre end 600px */
@media only screen and (max-width:600px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 0.4fr 1fr 2.2fr 0.4fr;
    grid-template-areas:
      "grid-menu"
      "sideMenu"
      "contentHeader"
      "contentBody"
      "contentFooter"
  }
}