/*----------------------------------------------Gruppemedlemmer-------------------------------------------------------*/
#GroupPage .column {
    float: left;
    width: 30%;
    padding: 8px;
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin: 10px;
}

/* On mouse-over, add a deeper shadow */
#GroupPage .column:hover {
    box-shadow: 0 10px 18px 0 rgba(0,0,0,0.2);
}
.groupImg {
    float: right;
    width: auto;
    height: 300px;
    background-size: cover;
    position: center;
}

#GroupPage .row::after {
    content: "";
    clear: both;
    display: table;
}

.group-container {
    padding: 2px 10px;
}