#vaalgBruger{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 0px;
}

#overskrift{
    font-weight: 800;
    margin-top: 3%;
    margin-bottom: 1%;
    font-size: 40px;
}

#grp{
    margin-top: 0px;
    font-size:25px;
    font-weight: 600;
}


.content_role{
    display: flex;
    justify-content: center;
}

.roleButton {
    border-radius: 5px;
    background-color: var(--color-primary);
    color: white;
    font-weight: 800;
    width: 200px;
    height: 200px;
    margin: 25px;
}

#developer{
    background-color: #585858;
}

.roleButton:hover {
    cursor: pointer;
    border-color: black;
    border-width:1px;
    border-style: solid;
}