/* ******************************************************************** */
/*
Author: Simon Søborg
Github: simonsoeborg
*/

* {
  --color-primary: #5c565b;
  --color-secondary: #564848;
  --color-third: rgba(255, 34, 15, 0.65);
  font-family: 'Lato', sans-serif;
  color: var(--color-secondary);
  box-sizing: border-box;
}

h1 {
  color: #E44E4E;
}

.btn-alert {
  background-color: var(--color-primary);
  color: white;
}
.btn-alert:hover {
  background-color: rgba(255,144,142,0.65);
  color: var(--color-secondary);
}

.successbutton {
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  width: 100px;
}

.warningbutton {
  border-radius: 5px;
  background-color: #ffad00;
  color: white;
  width: 100px;
}

.submitButton{
  font-size: 100%;
  color: white;
  font-weight: bold;
  background-color: var(--color-primary);
  padding: 8px;
  margin-top: 1%;
  border-radius: 10px; /* Border radius gør vores kanter runde*/
  border: none;
  outline: none;
  transition: background-color 0.5s, color 0.5s;
}

.submitButton:hover{
  border: none;
  color: white;
  background-color: var(--color-third);
  transition: background-color 0.25s, color 0.25s;
}

table {
  border-spacing: 0px;
}

thead td {
  font-weight: bold;
  background-color: var(--color-primary);
  color: white;
  border: none;
}

tbody {
  border-bottom: 1px solid var(--color-primary);
}

td {
  padding: 15px 15px 15px 15px;
  vertical-align: middle;
  text-align: left;
}

tbody tr:hover {
  background-color: #f5f5f5;
  color: var(--color-secondary);
}

select {
  margin: 15px 15px 15px 15px;
  text-align: center;
  text-align-last: center;
  -moz-text-align-last: center;
}

.small_Container {
  border: 1px solid rgba(114, 85, 85, 0.29);
  padding: 16px;
  width: auto;
  margin-bottom: 10px;
}

.small_Container_borderless {
  border: 0px;
  padding: 16px;
  width: auto;
  margin-bottom: 10px;
}

.Container_borderless {
  border: 5px;
  padding: 16px;
  width: 100%;
  margin-bottom: 10px;
  align-content: center;
}

/* ******************************************************************** */
