* {
  --color-primary: #F95454;
  --color-secondary: #564848;
  --color-third: rgba(255, 34, 15, 0.65);
  font-family: 'Lato', sans-serif;
  color: var(--color-secondary);


  box-sizing: border-box;
}
.contentContainer {
  margin-top: 10%;
  margin-left: 20%;
  float: left;
}

table {
  border-spacing: 0px;
}

thead td {
  font-weight: bold;
  background-color: var(--color-primary);
  color: white;
  border: none;
}

tbody {
  border-bottom: 1px solid var(--color-primary);
}

td {
  padding: 15px 15px 15px 15px;
  vertical-align: middle;
  text-align: left;
}

tbody tr:hover {
  background-color: #f5f5f5;
  color: var(--color-secondary);
}

select {
  margin: 15px 15px 15px 15px;
  text-align: center;
  text-align-last: center;
  -moz-text-align-last: center;
}

