.column {
    display: inline-block;
    float: left;
    width: 45%;
    align-content: center;
}
.rowCreate{
    width: 100%;
    height: auto;
    align-content: center;
}
hr.new4 {
    border: 2px solid var(--color-third);
}

.topnav .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background-color: var(--color-third);
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.topnav .search-container button:hover {
    background-color: #fff58f;
}

.topnav .search-container {
    float: none;
}

#searchbutton {
    background-color: #ffad00;
    border-radius: 4px;
}
