.column {
    display: inline-block;
    float: left;
    width: 40%;
    align-content: center;
}
.rowCreate{
    width: 100%;
    height: auto;
    align-content: center;
}

/* Thick red border */
hr.new4 {
    border: 2px solid var(--color-third);
}

