

@media screen and (max-width: 600px) {
    .recept-content {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}

.recept-content {
    float: left;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    box-sizing: border-box;
    background-color: #f1f1f1;
}

#table{
    padding: 30px;
}

#btn-create {
    background-color: #5c565b;
    color: white;
    margin: 20px;
}
#btn-create:hover {
    background-color: #c1c3c6;
    color:  #5c565b;
}

#createReceptTxt{
    margin-bottom: 30px;
    font-weight: bold;
    font-style: italic;
}

